doctype html
html(lang='en')
  head
    title=title
    meta(charset='utf-8')
    meta(name='description', content=description)
    meta(name='author', content=author)
    meta(property='og:title', content=title)
    meta(property='og:image', content='screenshot.png')
    meta(property='og:description', content=description)
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport' content='width=device-width')
    meta(name='theme-color', content='#3D3D3D')
    link(rel='icon', type='image/jpeg', href='https://graph.facebook.com/1935436059816712/picture?type=normal')
    link(rel='manifest', href='manifest.json')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:100,400,700')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto+Mono:300, 700')
    link(rel='stylesheet', href='stylesheet.css')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(type='text/javascript').
      var data = !{JSON.stringify(data)};
    script(type='text/javascript', src='script.js')
  body
    .screen
      mixin name(id)
        = id.split('_').map(v => v.charAt(0).toUpperCase() + v.slice(1)).join(' ')
      .desktop
        a.github-corner(href='https://github.com/parkjs814/parkjs814.github.io', aria-label='View source on Github')
          svg(width='80', height='80', viewbox='0 0 250 250', aria-hidden='true')
            path(d='M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z')
            path.octo-arm(d='M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2', fill='currentColor', style='transform-origin: 130px 106px;')
            path.octo-body(d='M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z', fill='currentColor')
        .app-container
          mixin app(id, link)
            a.app(href=link || `#${id}`)
              .icon(class=`icon-${id.split('-').shift()}`)
              .name
                +name(id.split('-').pop())
          +app('directory-projects')
          +app('directory-work_experience')
          +app('directory-awards')
          +app('directory-education')
          +app('terminal')
          +app('instagram')
          +app('paypal')
          +app('github', 'https://github.com/parkjs814')
          +app('resume', 'https://jasonpark.me/resume/')
          +app('email', 'mailto:jason.park@gatech.edu')
          +app('version_history')
          +app('attribution')
        .window-container
          mixin window(id, width, height, noToolbar)
            .window(id=id, style=`width: ${width}rem; height: ${height}rem`, class=noToolbar && 'no-toolbar')
              .toolbar
                .button-container
                  a.button.button-close(href='#')
                  a.button.button-minimize(href='#')
                  a.button.button-maximize(href='#')
                if id === 'browser'
                  .tab-container
                else
                  .title-container
                    .icon
                    .name
              .content
                block
                .interceptor
              .border.border-top
              .border.border-bottom
              .border.border-left
              .border.border-right
              .border.border-top.border-left
              .border.border-top.border-right
              .border.border-bottom.border-right
              .border.border-bottom.border-left
          +window('directory', 50, 30)
            .panel-container
              .panel.panel-root.open
                a.directory(href='#directory-projects')
                  .icon.icon-directory
                  .name Projects
                a.directory(href='#directory-work_experience')
                  .icon.icon-directory
                  .name Work Experience
                a.directory(href='#directory-awards')
                  .icon.icon-directory
                  .name Awards
                a.directory(href='#directory-education')
                  .icon.icon-directory
                  .name Education
            .panel-container
              each child in ['projects', 'work_experience', 'awards', 'education']
                .panel.panel-child(id=`directory-${child}`)
                  a.directory.directory-parent(href='#directory-')
                    .icon.icon-directory
                    .name ..
                  each file in data[child]
                    a.directory(href=`#directory-${child}-${file.key}`)
                      .icon(style=`background-image: url(${file.image})`)
                      .name= file.name
            .panel-container.panel-container-preview
              mixin panel-preview(child, file)
                .panel.panel-preview(id=`directory-${child}-${file.key}`)
                  img.preview(src=file.image)
                  .property-container
                    block
                  a.close(href=`#directory-${child}`)
              each file in data.projects
                +panel-preview('projects', file)
                  .property.property-name= file.name
                  .property.property-date= file.date
                  if file.link === '-'
                    .property.property-link= file.link
                  else if /^https:\/\/([a-zA-Z0-9_-]+\.)*jasonpark\.me/i.test(file.link)
                    a.property.property-link(href=`#browser-${file.key}`, data-name=file.name, data-image=file.image, data-url=file.link)= file.link
                  else
                    a.property.property-link(href=file.link)= file.link
                  .property.property-detail= file.detail
              each file in data.work_experience
                +panel-preview('work_experience', file)
                  .property.property-name= file.name
                  .property.property-date= file.date
                  .property.property-location: div!= file.location
                  .property.property-position= file.position
                  .property.property-detail: div!= file.detail
              each file in data.awards
                +panel-preview('awards', file)
                  .property.property-name= file.name
                  .property.property-date= file.date
                  .property.property-organizer= file.organizer
                  .property.property-place: div!= file.place
              each file in data.education
                +panel-preview('education', file)
                  .property.property-name= file.name
                  .property.property-location: div!= file.location
                  .property.property-date= file.date
                  .property.property-gpa= file.gpa
                  if file.link === '-'
                    .property.property-link= file.link
                  else
                    a.property.property-link(href=file.link)= file.link
          +window('browser', 60, 40)
            .addressbar
              a.button.button-refresh(href='#')
              .url
              a.button.button-new(href='#')
            iframe.iframe
          +window('paypal', 50, 30, true)
            #paypal-success
            .message
            .menu-container
              each menu in data.menus
                form.menu(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                  input(type='hidden', name='cmd', value='_s-xclick')
                  input(type='hidden', name='hosted_button_id', value=menu.hosted_button_id)
                  .icon(style=`background-image: url(${menu.image})`)
                  .name= menu.name
                  .price= menu.price
                  button.donate(type='submit')
          +window('terminal', 40, 28)
            .line-container
          +window('attribution', 30, 30)
            .row-container
              each attribution in data.attributions
                .row
                  .icon(style=`background-image: url(${attribution.image})`)
                  .info
                    a.path(href=attribution.image)= attribution.image
                    .artist= attribution.artist
                  a.link(href=attribution.link) Link
          +window('instagram', 44, 30, true)
            .photo-container
              each instagram in data.instagrams
                a.photo(style=`background-image: url(https://instagram.com/p/${instagram}/media/?size=m)`, href=`http://instagr.am/p/${instagram}/`)
                  img.ratio(src='img/insta-ratio.png')
          +window('version_history', 30, 30)
            .version-container
              each version in [0, 1, 2]
                a.version(class=`version-${version}`, href=`#browser-v_${version}`, data-name=`Version ${version}`, data-image='img/icon/version_history.png', data-url=`./version_history/v${version}/`)
      .taskbar
        .label.label-profile
          .icon.icon-profile
          .name Jinseo Jason Park
        .shortcut-container
          mixin shortcut(id, hidden)
            a.shortcut(href=`#${id}`, class=hidden && 'hidden')
              .icon(class=`icon-${id}`)
              .name
                +name(id)
          +shortcut('directory')
          +shortcut('browser', true)
          +shortcut('terminal')
          +shortcut('instagram')
          +shortcut('paypal')
          +shortcut('version_history')
          +shortcut('attribution')
        .label.label-clock
          .name
    script.
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                  (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o), m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-74575204-1', 'auto');
      ga('send', 'pageview');
